@import "tailwindcss";

@theme {
  --color-secondary-dim: #684678;
  --color-error: #ac3434;
  --color-tertiary: #33685f;
  --color-tertiary-container: #b0e8dd;
  --color-on-tertiary-container: #20574f;
  --color-surface-container-highest: #cee5ff;
  --color-error-container: #f56965;
  --color-primary-fixed-dim: #96caed;
  --color-on-surface-variant: #3d6284;
  --color-primary-container: #a4d8fc;
  --color-on-secondary-fixed: #533262;
  --color-tertiary-fixed: #b0e8dd;
  --color-primary-fixed: #a4d8fc;
  --color-surface-container-lowest: #ffffff;
  --color-secondary: #755284;
  --color-primary-dim: #1e5877;
  --color-primary: #2d6583;
  --color-surface-tint: #2d6583;
  --color-tertiary-dim: #255c53;
  --color-on-tertiary-fixed: #04443c;
  --color-inverse-on-surface: #8c9fb4;
  --color-outline-variant: #91b5dc;
  --color-on-tertiary: #e2fff8;
  --color-on-background: #063555;
  --color-on-primary-container: #0b4c6a;
  --color-surface-container-high: #d9eaff;
  --color-on-error-container: #65000b;
  --color-background: #f7f9ff;
  --color-secondary-container: #f6d9ff;
  --color-on-primary-fixed: #003851;
  --color-on-tertiary-fixed-variant: #2b6158;
  --color-on-error: #fff7f6;
  --color-surface-container-low: #edf4ff;
  --color-surface: #f7f9ff;
  --color-on-secondary-container: #664476;
  --color-surface-container: #e3efff;
  --color-tertiary-fixed-dim: #a3dacf;
  --color-on-primary: #f5f9ff;
  --color-inverse-surface: #000f1e;
  --color-surface-variant: #cee5ff;
  --color-on-secondary: #fff7fc;
  --color-surface-dim: #bfddff;
  --color-on-surface: #063555;
  --color-outline: #5a7ea2;
  --color-inverse-primary: #a4d8fc;
  --color-secondary-fixed-dim: #f0c6ff;
  --color-on-primary-fixed-variant: #1b5674;
  --color-secondary-fixed: #f6d9ff;
  --color-surface-bright: #f7f9ff;
  --color-error-dim: #70030f;
  --color-on-secondary-fixed-variant: #714e81;

  --font-headline: "Plus Jakarta Sans";
  --font-body: "Be Vietnam Pro";
  --font-label: "Be Vietnam Pro";

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}
